release-ubuntu
release-mac
release-windows
release-unix
Driver.jar
.DS_Store
Frontend/lib/lift-json_2.12-3.3.0-RC1.jar
Frontend/lib/scala-library-2.12.8.jar
Frontend/lib/scala-reflect-2.12.8.jar
Frontend/lib/scala-xml_2.12-1.0.6.jar
Frontend/Frontend.jar
Catalyst/catalyst/.*
Catalyst/.*
Catalyst/catalyst/target/
Catalyst/testing/test*/out/
removeextra.sh
